<footer class="bg--dark footer-1 text-center-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <a href="#">
                  <img alt="Bachelor Party Sofia" class="logo" src="assets/img/logo.png">
                </a>
                <p>
                    <em>100% LOCAL TEAM</em><br/>

                    FULL SERVICE IN SOFIA<br/>
                    MULTILINGUAL GUIDES<br/>
                    WE HANDLE EVERYTHING FOR YOU<br/>
                </p>
            </div>
            <div class="col-md-5 col-sm-8">
                <h6>Navigate</h6>
                <ul class="footer__navigation">
                    <li>
                        <a href="/activities"><span>Activities</span></a>
                    </li>
                    <li>
                        <a href="#"><span>About us</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Services</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Get In Touch</span></a>
                    </li>
                </ul>
                <ul class="footer__navigation">
                    <li>
                        <a href="#"><span>Planner</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Careers</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Terms of Service</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row footer__lower text-center-xs">
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-6">
                <span class="type--fine-print">COPYRIGHT © <span class="update-year">2019</span> BACHELOR PARTY SOFIA
                MADE WITH ♥ IN BULGARIA</span>
                
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list">
                    <li>
                        <a href="#"><i class="socicon-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-dribbble"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-vimeo"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="socicon-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>