/***************************
Add your custom styles below
****************************/

/* Navbar */

.nav-bar .logo {
    max-height: 100%;
}

/* Footer */

footer .logo {
    max-height: 200px;
}

/* Common */

.mb-2 {
    margin-bottom: 20px;
}

.mt-2 {
    margin-top: 20px;
}

.m-0 {
    margin: 0;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Activity Create/Edit Form*/
.activityFormHolder {
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    overflow-y: auto;
}

#activityForm {
    margin: 80px 0 80px 0;
}

.bg--white input[type='number'], select {
    background: #f8f8f8;
}

.cover-8 .logo {
    max-height: 120px;
}

/* Navbar */
.nav-module.right > a {
    color: white;
}

/* Form textarea*/
.bg--white textarea {
    background: #f8f8f8;
}

#form1 {
    height: 800px;
    overflow-y: auto
}

/* Button icons */
.btn i {
    font-size: 1.8em;
}

/* Parties page */
.feature-1 p {
    min-height: 0;
}