<section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="4">
    <div class="background-image-holder">
        <img alt="image" src="assets/img/hero15.jpg">
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 *ifInRole="'admin'">All parties</h1>
                <h1 *ifInRole="'guide'">Assigned parties</h1>
                <h1 *ifInRole="'customer'">Your own parties</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let party of parties">
              <div class="col-sm-4">
                  <div class="feature boxed feature-1">
                      <a routerLink="/parties/{{ party.id }}">
                        <i class="icon icon-Ship"></i>
                        <h5>{{ party.title }}</h5>
                      </a>

                      <hr>

                      <ng-container *ngIf="party.host; else hostNotRegistered">
                        <p><b>Host:</b> {{ party.host.email }}</p>
                      </ng-container>

                      <ng-template #hostNotRegistered>
                        <p><b>Host:</b> Not registered</p>
                      </ng-template>
            
                      <ng-container *ngIf="party.customers.length !== 0; else participantNotInvited">
                        <p><b>Participants:</b></p>
                        <ul *ngFor="let participant of party.customers">
                          <li>{{ participant.email }}</li>
                        </ul>
                      </ng-container>

                      <ng-template #participantNotInvited>
                        <p><b>Participants:</b> Not invited</p>
                      </ng-template>
            
                      <ng-container *ngIf="party.guide; else guideNotAssigned">
                        <p><b>Guide:</b> {{ party.guide.email }}</p>
                      </ng-container>

                      <ng-template #guideNotAssigned>
                        <p><b>Guide:</b> Not assigned</p>
                      </ng-template>
            
                      <ng-container *ifInRole="'admin'">
                        <div *ngIf="!party.guide; else displayWithdrawGuideButton">
                          <button class="btn btn-info" (click)="setDisplayGuideAssignmentForm(party.id)">{{ guideAssignmentFormButtons.get(party.id).getName() }}</button>

                          <div *ngIf="guideAssignmentFormButtons.get(party.id).getValue()">
                            <form [formGroup]="guideAssignmentForm">
                              <div class="row">
                                <div class="input-select">
                                  <br>
                                  <label for="guide">Guides</label>
                                  <select id="guide" formControlName="guide" name="guide" required>
                                    <option *ngFor="let guide of guides" [value]="guide.id">
                                      {{guide.email}}
                                    </option>
                                  </select>
                                </div>
          
                                <div class="alert alert-danger" *ngIf="guideAssignmentForm.get('guide').hasError('required') && guideAssignmentForm.get('guide').touched">
                                  Guide is required.
                                </div>
                              </div>
            
                              <br>

                              <div class="row">
                                <button class="btn btn-success" [disabled]='guideAssignmentForm.invalid' (click)="assignGuideToParty(party.id)">Assign</button>
                              </div>
                            </form>
                          </div>
                        </div>
            
                        <ng-template #displayWithdrawGuideButton>
                          <button class="btn btn-danger" (click)="withdrawGuideFromParty(party.id, party.guide.id)">Withdraw guide</button>
                        </ng-template>
                      </ng-container>
                  </div>
              </div>
            </ng-container>
        </div>
    </div>
</section>