<section class="stats-1 bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Admin Panel</h2>
                <h4>Welcome, master!</h4>
            </div>
        </div>
        
        <div class="row">
            <a href="/activities">
              <div class="col-sm-4">
                  <div class="feature feature-1 text-center boxed boxed--lg">
                      <i class="icon icon--lg icon-Air-Balloon color--primary"></i>
                      <h3>Activities</h3>
                      <span>
                          <em>{{ activitiesCount }}</em>
                      </span>
                  </div>
              </div>
            </a>

            <a href="/quotations">
              <div class="col-sm-4">
                  <div class="feature feature-1 text-center boxed boxed--lg">
                      <i class="icon icon--lg icon-Box-Full color--primary"></i>
                      <h3>Quotations</h3>
                      <span>
                          <em>{{ quotationsCount }}</em>
                      </span>
                  </div>
              </div>
            </a>

            <a href="/users">
              <div class="col-sm-4">
                  <div class="feature feature-1 text-center boxed boxed--lg">
                      <i class="icon icon--lg icon-Business-Mens color--primary"></i>
                      <h3>Users</h3>
                      <span>
                          <em>{{ usersCount }}</em>
                      </span>
                  </div>
              </div>
            </a>

            <a href="/parties">
              <div class="col-sm-4">
                  <div class="feature feature-1 text-center boxed boxed--lg">
                      <i class="icon icon--lg icon-Hipster-Men3 color--primary"></i>
                      <h3>Parties</h3>
                      <span>
                          <em>{{ partiesCount }}</em>
                      </span>
                  </div>
              </div>          
            </a>
        </div>
    </div>
</section>