<section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="4">
    <div class="background-image-holder">
        <img alt="image" src="assets/img/hero21.jpg">
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1>{{ quotations ? 'Available quotations:' : 'Loading quotations...' }}</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let quotation of quotations">
              <a routerLink="/quotations/{{ quotation.id }}">
                <div class="col-sm-4">
                    <div class="feature boxed feature-1">
                        <i class="icon icon-Ship"></i>

                        <hr>

                        <p><b>User email:</b> {{ quotation.user_email }}</p>
                        <p><b>Group size:</b> {{ quotation.group_size }}</p>
                        <p><b>Activities chosen:</b> {{quotation.activities.length}} </p>
                    </div>
                </div>
              </a>
            </ng-container>
        </div>
    </div>
</section>