<div *ngIf="activityIsInCart(); else addActivityBlock">
  <a class="btn btn--lg btn-danger mb--1" (click)="modifyCart()">
    <span class="btn__text">
      <i class="icon icon-Remove-Cart"></i>
      Remove from cart &middot; {{ selectedPrice.amount | currency }}
      <ng-container *ngIf="selectedPrice.options"> ({{ selectedPrice.options }})</ng-container>
    </span>
  </a>
</div>

<ng-template #addActivityBlock>
  <a class="btn btn--lg btn--primary mb--1" (click)="modifyCart()">
    <span class="btn__text">
      <i class="icon icon-Add-Cart"></i>
      Add to cart &middot; {{ selectedPrice.amount | currency }}
      <ng-container *ngIf="selectedPrice.options"> ({{ selectedPrice.options }})</ng-container>
    </span>
  </a>
</ng-template>
