<section class="imagebg height-60 parallax" data-overlay="4">
  <div class="background-image-holder">
      <img alt="image" src="assets/img/cover.jpg">
  </div>
  <div class="container pos-vertical-center">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h1>Bachelor Party Sofia</h1>
              <p class="lead">Stag Do Weekends in Bulgaria</p>
          </div>
      </div>
  </div>
</section>
  
<section class="bg--dark section--even">
  <div class="container">
      <div class="row">
          <div class="col-sm-10">
              <h6>Who are we?</h6>
              <p class="lead text-justify">
                We are Bachelor Party Sofia and we are the local agency organizing Stag do parties in Sofia and Bulgaria. 
                We have the most activities (more than 80) and some of them are 100% exclusive. 
                Forget the planning, we take care of everything.
              </p>
          </div>
      </div>
  </div>
</section>
  
<section class="process-1 bg--secondary">
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <div class="piechart piechart-2" data-size="260" data-value="33">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase One:</h6>
                            <span class="h4">Pick Activities</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <div class="feature feature-1 text-right text-center-xs">
                    <i class="icon icon-D-Eyeglasses"></i>
                    <h5>Browse our website</h5>
                    <p>Chechout all our activities.</p>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="feature feature-1 text-center-xs">
                    <i class="icon icon-Check-2"></i>
                    <h5>Select and add to cart</h5>
                    <p>Choose the activities you like and add them to your shopping cart.</p>
                </div>
            </div>
        </div>
    </div>
</section>
              
<section class="process-1 bg--secondary">
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <div class="piechart piechart-2" data-size="260" data-value="66">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase Two:</h6>
                            <span class="h4">Check Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <div class="feature feature-1 text-right text-center-xs">
                    <i class="icon icon-Edit-Map"></i>
                    <h5>Edit cart</h5>
                    <p>If you want to add more activities or remove some, you can simply do this in the cart page.</p>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2">
                <div class="feature feature-1 text-center-xs">
                    <i class="icon icon-Hello"></i>
                    <h5>Make a quotation request</h5>
                    <p>By making a request, all you have to do is type your email addres so we can contact you about your quotation.</p>
                </div>
            </div>
        </div>
    </div>
</section>
              
<section class="process-1 process-end bg--secondary">
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <div class="piechart piechart-2" data-size="260" data-value="100">
                    <div class="piechart__overlay">
                        <div class="piechart__description">
                            <h6>Phase Three:</h6>
                            <span class="h4">Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="feature feature-1 text-center">
                    <i class="icon icon--lg icon-Box-Open"></i>
                    <h5>Approved Quotation</h5>
                    <p>If we approve your quotation, you can create an account and invite your friends for one unforgettable bachelor party!</p>
                </div>
            </div>
        </div>
    </div>
</section>
              
<section class="space--0">
    <div class="slider" data-items="4" data-paging="true" data-arrows="true">
        <ul class="slides">
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/photo1.jpeg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Beer Tour</h5>
                                <span>
                                    <em>Drink tasty beer!</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/photo2.jpeg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Limousine Tour</h5>
                                <span>
                                    <em>Have a private party in a limo and drive around the city.</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/photo3.jpeg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Laser Tag</h5>
                                <span>
                                    <em>Will 12 minutes of Laser Tag be enough to defeat the groom?</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/photo4.jpeg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Karting indoor</h5>
                                <span>
                                    <em>Challenge the groom with the Sodi SR5 on a track of 620m long, 7.6m wide with 21 turns.</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/photo5.jpeg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Karting indoor</h5>
                                <span>
                                    <em>Challenge the groom with the Sodi SR5 on a track of 620m long, 7.6m wide with 21 turns.</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/photo6.jpeg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Crystal Burger & Steak</h5>
                                <span>
                                    <em>Super delicious!</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/photo7.jpeg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Spa Massage</h5>
                                <span>
                                    <em>Relax and recharge your batteries</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="hover-element hover-element-1" data-title-position="top,right">
                        <div class="hover-element__initial">
                            <img alt="Pic" src="assets/img/photo8.jpeg">
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="boxed">
                                <h5>Swimming pool day</h5>
                                <span>
                                    <em>Relax, chill, rest</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </a>
            </li>
        </ul>
    </div>
</section>