<div class="nav-container">
  <nav>
    <div class="nav-bar bg--dark" data-fixed-at="700">
      <div class="nav-module logo-module left">
          <a href="/">
            <img alt="Bachelor Party Sofia" class="logo logo-dark" src="assets/img/logo.png">
            <img alt="Bachelor Party Sofia" class="logo logo-light" src="assets/img/logo.png">
          </a>
      </div>
      <div class="nav-module menu-module left">
          <ul class="menu">
              <li>
                <a href="/activities">Activities</a>
              </li>

              <ng-container *ngIf="(authService.userSignedIn$ | async)">
                <li *ifInRole="'admin'">
                  <a href="/admin">Admin panel</a>
                </li>

                <li>
                  <a href="/parties">Parties</a>
                </li>
              </ng-container>
          </ul>
      </div>

      <div class="nav-module right">
        <a routerLink="/cart" class="nav-function" data-notification-link="cart-overview">
          <i class="interface-bag icon icon--sm"></i>
          <span>{{ getCartSize() }} items</span>
        </a>
      </div>

      <div class="nav-module right">
        <ng-container *ngIf="(authService.userSignedIn$ | async); else anonymousUserNav">
          <a href="/" (click)="logOut()" class="nav-function">
            <i class="icon icon-Scissor"></i>
            <span>Logout</span>
          </a>
        </ng-container>
  
        <ng-template #anonymousUserNav>
          <a href="/login" class="nav-function">
            <i class="icon icon-Beard-3"></i>
            <span>Login</span>
          </a>
        </ng-template>
      </div>
    </div>

    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-JustifyAll icon icon--sm"></i>
    </div>
  </nav>
</div>
