<div class="container">

  <div class="wrapper text-center">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <h2>{{ activities ? 'Available activities' : 'Loading activities...' }}</h2>

        <blockquote class="blockquote">
          <p class="mb-0">
            Discover our Sofia by day activities for your Bachelor Party.
            <br/>
            Choose between more than 40 exclusive activities and we will arrange your custom program for the weekend.
          </p>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="input-group col-sm-12 col-md-4 offset-md-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="now-ui-icons ui-1_zoom-bold"></i></div>
        </div>
        <input
          #searchTitle
          type="text"
          aria-label="Activity title"
          class="form-control form-control-lg"
          placeholder="e.g. Karting"
          (input)="filterActivitiesByTitle(searchTitle.value)"
          />
      </div>

      <div class="form-group col-md-2">
        <select class="form-control form-control-lg" id="timeTypeSelect" (change)="filterActivitiesByTimeType($event.target.value)">
          <option value="all" selected>Anytime</option>
          <option *ngFor="let timeType of ['day', 'night']" [value]="timeType">By {{ timeType }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
              <h3>Your Creative Collective</h3>
              <p class="lead">
                  Our diverse team comprises talent from a range of design disciplines working together to deliver effective solutions
              </p>
              <div class="input-with-icon">
                <i class="icon-Magnifi-Glass2"></i>
                <input #searchTitle type="search" aria-label="Activity title"
                class="form-control form-control-lg"
                placeholder="e.g. Karting"
                (input)="filterActivitiesByTitle(searchTitle.value)">
              </div>
          </div>
      </div>
    </div>
</section>

<div *ifInRole="'admin'">
  <a routerLink="/activities/new" class="btn btn-info">Create activity</a>
</div>
